.mainContainer{
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.Parent{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 200px;
    margin: 5px;
}
.image{
    border: 1px solid #f3f5f7;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#f3f5f7;
    border-radius: 10px 0 10px 0;
}
.image img{
 width: 100px;
 height: 100px;
}
.ratings{
    display: flex;
    justify-content: space-between;
}
.productname{
    display: flex;
    justify-content: space-between;
    gap: 15px;
}
.cartcount{
   position: relative; 
}
.cartcount span{
    position: absolute;
    top: -10px;
    left: 10px;
    font-size: 10px;
}