.parentShopCategories{
    width: 100%;
    display: flex;
    justify-content: center;

}


.ShopCategories{
    width: 82%;
    margin: 10px 0;
}



.ShopCategories select{
    width: 15%;
    height: 30px;
}
.ShopCategories option{
    color: gray;
    
}

.optionsdiv:hover{
    background-color: #f3f5f7 !important;
    color: black !important;
    display: none;


}