.SignInParent{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 10px;
    height: 100vh;
}
.SignInParent img{
    width: 400px;
    height: 400px;
}
.imgdiv{
    display: flex;
    justify-content: center;
    background-color: #f3f5f7;
    height: 100vh;
    width: 100%;
    align-items: center;

}
.SignIn{
    display: flex;
    flex-direction: column;
    width: 70%;
    gap: 30px;
}
.inputParent{
    width: 100%;
    display: flex;
    justify-content: center;
}
.signInboldtxt{
    font-size: 3rem;
    font-weight: bold;
}
.signIntxt{
    color: green;
    cursor: pointer;

}
@media (max-width: 768px){
   .SignInParent{
    overflow: hidden;

   }
    .SignInParent .imgdiv{
        position: relative;
    }
    .inputParent{
        position: absolute;
        background-color: gray;
        opacity: 0.8;
        left: 0;
        padding: 5px 0;
    }
}