@font-face {
  font-family: "poppins";
  src: url("../src/assets/Poppins-Bold.ttf");
}
*{
  font-family: "poppins", sans-serif;
}
.navParent{
    width: 100%;
    display: flex;
    justify-content: center;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 20px;
    position: relative;
    width: 80%;
  }
  
  .logo {
    font-size: 24px;
    font-weight: bold;
  }
  
  .navItems {
    list-style: none;
    display: flex;
    gap: 40px;
  }
  .LogoutIcon svg{
    width: 20px;
    /* font-size: 10px; */
  }
  .navItems a {
    text-decoration: none;
    cursor: pointer;
    font-size: 18px;
    color: rgb(108,114,117);
    font-weight: 600;

  }
  .active{
    color: #000000 !important;
  }
  .icons {
    display: flex;
    gap: 20px;
    align-items: center;
  }
  
  .hamburger {
    display: none;
    font-size: 24px;
    cursor: pointer;
  }
  .cartParent{
    position: relative;
    
  }
  .iconsParent{
    display: flex;
    align-items: center;
    gap: 10px;

  }
  .cartParent span{
    position: absolute;
    top: -15px;
    left: 10px;
  }
  .searchParent{
    display: flex;
    flex-direction: column;
    position: relative;
  }
  .SearchInput{
    position: absolute;
    top: 100%;
  }
  .closebtn{
    display: none;
  }
  .iconstyling{
    position: relative;
  }
  .numberstyling{
    position: absolute;
    top: -15px;
    right: 10px;

  }

  @media (max-width: 768px) {
    .navItems {
      
      display: none;
    }
  
     .showMenu {
      display: flex;
      position: absolute;
      flex-direction: column;
      align-items: center;
      gap: 20px;
      padding: 20px 0;
      z-index: 2;
      width: 100%;
      background-color: rgb(237, 223, 223);
      top: 0%;
      animation: ppp 0.5s ease forwards;
      height: 100vh;
    }
    @keyframes ppp {
      from{
        left: -100%;
      }
      to{
        left: 0;
      }
      
    }
  
    .hamburger {
      display: block;
    }
  
    .icons {
      gap: 15px;
    }
    .navbar{
      width: 100%;
    }
    .hideMenu{
      animation: ppphide 0.5s ease forwards;
    }
    @keyframes ppphide {
      from{
        left: 0
      }
      to{
        left: -100%
      }
    }
    .closebtn{
      display: block;

    }
  }
  